extends ../templates/tpl-base

include ../layout/sidebar/sidebar
include ../layout/section/section

block content
  +sidebar()
  +e.MAIN.main
    +b.DIV.slider(data-swiper)
      +e.DIV.wrapper(data-swiper-wrapper)
        +section(dataSectWelcome)
        +section(dataSectReplaceHead)
        +section(dataSectYounger)
        +section(dataSectReplaceFace)
      +e.DIV.pagination
      +e.DIV.scroll