// /* .base */
// @media (min-width: $xs) { /* .base $xs */ }
// @media (min-width: $sm) { /* .base $sm */ }
@media (min-width: $md) { /* .base $md */ }
// @media (min-width: $lg) { /* .base $lg */ }
// @media (min-width: $xl) { /* .base $xl */ }
// @media (min-width: $xxl) { /* .base $xxl */ }

* {
  box-sizing: border-box;
}

body {
  background-color: #0d1011;
  font-family: $ff_base;
  font-size: 18px;
  line-height: 1.5;
  color: $c_brand;
}

a {
  color: $c_text;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
}

[data-lang="en"] {
  display: none;

  body.en & {
    display: block;
  }
}

[data-lang="ua"] {
  display: block;

  body.en & {
    display: none;
  }
}

.page {

  &__main {
    padding-left: 50px;

    min-height: 100%;
    opacity: 0;
    transition: opacity 800ms ease 0ms;

    @media (min-width: $md) {
      padding-left: 65px;
    }

    &.loaded {
      opacity: 1;
    }

    &::after {
      content: "";
      display: block;
      position: fixed;
      left: 65px;
      bottom: 16px;
      background: url(../img/bottom-lignt.png) no-repeat 100% 50%;
      width: 185px;
      height: 368px;
      pointer-events: none;
      z-index: 10;

      @media (max-width: 767px) {
        left: 50px;
      }
    }
  }
  &__main-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  &__top-slogan {
    position: fixed;
    top: 0;
    left: 65px;
    z-index: 100;
    width: 516px;
    height: 361px;
    pointer-events: none;
    background: url(../img/bg-top-slogan.png) no-repeat 0 0;
    background-size: contain;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: $ff_base;
    padding: 20px;
    transition: opacity $anim;

    body.scroll & {
      opacity: 0;
    }
    
    @media (max-width: 767px) {
      left: 50px;
      font-size: 0;
    }

    span {
      display: block;
      color: #FFF;
      font-family: $ff_second;
      font-size: 32px;
      font-weight: 700;
      text-transform: capitalize;

      @media (max-width: 767px) {
        font-size: 0;
      }
    }
  }
}

.slider {
  position: fixed;
  top: 0;
  left: 50px;
  bottom: 0;
  right: 0;
  overflow: hidden;

  @media (min-width: $md) {
    left: 65px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__pagination {
    position: absolute;
    top: 50%;
    right: 50px;
    // transform: translate(0, -50%);
    transform: translate(50px, -50%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 600ms ease 800ms, opacity 200ms ease 800ms;
    z-index: 10;
    
    .page__main.loaded & {
      transform: translate(-20px, -50%);
      opacity: 1;
      visibility: visible;
      
      @media (max-width: 520px) {
        transform: translate(-5px, -50%);
      }
    }
    .page__main.free & {
      transition: all 300ms ease 400ms;
      transform: translate(50px, -50%);
      opacity: 0;
    }
  }
  &__bullet {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #fff;
    margin: 10px 0;
    border-radius: 50%;
    transition: background-color 300ms ease 0s;
    outline: none;

    @media (max-width: 767px) {
      width: 8px;
      height: 8px;
    }

    &--active {
      background-color: $c_brand;
    }
  }
  &__scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: rgba(226, 255, 0, .2);
  }
  &__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(226, 255, 0, .8);
    cursor: pointer;
  }
}