/* .helpers */
// @media (min-width: $xs) { /* .helpers $xs */ }
// @media (min-width: $sm) { /* .helpers $sm */ }
// @media (min-width: $md) { /* .helpers $md */ }
// @media (min-width: $lg) { /* .helpers $lg */ }
// @media (min-width: $xl) { /* .helpers $xl */ }
// @media (min-width: $xxl) { /* .helpers $xxl */ }

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}