mixin section-about(data)
  -
    const {title_ua, title_en, cls} = data;

  // START .section
  +b.SECTION.section(class= cls)
    +e.H2.title
      span(data-lang="ua") #{title_ua}
      span(data-lang="en") #{title_en}
    +e.DIV.content
      +e.DIV.about-text
        p(data-lang="ua") Ми стартап з України, який в першу чергу хоче вивести український контент  на міжнародний рівень. Ми займаємось лицевою анімацією, заміною обличь у відео, омолодженням обличь у відео, а також lip-sync. Всі наші технології основані на базі різних штучних інтелектів, які нам допомогають зробити контент без еффекту "Зловісної долини". По ціновій політиці ми підходимо різним категоріям контентмейкерів починаючі від блогерів і закінчуючі кіно. Завдяки тому, що ми використовуємо штучні інтелекти в нашій роботі ми можемо з економити як ваш час так і ваші гроші.
        p(data-lang="en") We are a startup from Ukraine. We are engaged in facial animation, face replacement in video, face rejuvenation in video, and lip-sync. All of our technologies are based on various artificial intelligences that help us create content without the uncanny valley effect. In terms of pricing, we are suitable for different categories of content creators, from bloggers to filmmakers. Due to the fact that we use artificial intelligence in our work, we can save both your time and money. Join us

      +e.DIV.about-email
        a(href="mailto:jeynixvfx@gmail.com") Jeynixvfx@gmail.com

    +e.DIV.about-footer
      +e.DIV.about-footer-left
        span Jeynix
        |
        | Made in Ukraine
      +e.DIV.about-footer-center
        +e.A.contact--tiktok(href="https://www.tiktok.com/@jeynixvfx")
          i.icon-tiktok
        +e.A.contact--linkedin(href="https://www.linkedin.com/in/joni-nemir-a50794262/")
          i.icon-linkedin
        +e.A.contact--youtube(href="https://www.youtube.com/@jeynixyoutube/videos")
          i.icon-youtube
      +e.DIV.about-footer-right made in ukraine
  // END .section