/* .section */
//@media (min-width: $xs) { /* .section $xs */ }
//@media (min-width: $sm) { /* .section $sm */ }
//@media (min-width: $md) { /* .section $md */ }
//@media (min-width: $lg) { /* .section $lg */ }
//@media (min-width: $xl) { /* .section $xl */ }
//@media (min-width: $xxl) { /* .section $xxl */ }

.section {
  // padding: 0 16px;
  padding: 90px 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 100%;
  position: relative;
  // overflow: hidden;

  @media (max-width: 767px) {
    padding: 120px 40px 0;
  }

  @media (max-width: 520px) {
    padding: 60px 40px 0;
  }

  &--face-rejuvenation,
  &--head-replacement,
  &--face-replacement {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &--face-rejuvenation {
    background-image: url(../img/bg-1.png);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30%;
      background: linear-gradient(to bottom, rgba(8,8,9,1) 0%, rgba(8,8,9,0) 100%);
      pointer-events: none;
    }
  }
  
  &--head-replacement {
    background-image: url(../img/bg-2.png);
  }
  
  &--face-replacement {
    background-image: url(../img/bg-3.png);

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30%;
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    }
  }

  &--about-us {
    position: relative;
    flex-direction: column;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60%;
      background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    }
  }

  &__title {
    position: absolute;
    top: -5px;
    right: -24px;
    text-transform: lowercase;
    font-family: $ff_second;
    color: #242526;
    font-weight: 700;
    // font-size: 198px;
    font-size: 120px;
    margin: 0;
    // line-height: 1;
    line-height: 0.8;
    width: 100%;
    text-align: right;
    pointer-events: none;
    max-width: 90%;
    z-index: 1;

    @media (max-width: 1400px) {
      font-size: 110px;
      top: -12px;
      right: -12px;
    }

    @media (max-width: 1200px) {
      font-size: 90px;
    }

    @media (max-width: 767px) {
      font-size: 62px;
      top: 12px;
      right: 12px;
    }

    @media (max-width: 520px) {
      font-size: 24px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;

    // .section:not(.section--welcome) & {
    //   height: calc(100% - 76px);
    //   background-color: red;
    //   overflow-y: auto;
    // }

    .section--about-us & {
      position: relative;
      z-index: 1;
      margin-bottom: auto;
    }

    .section--welcome & {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .section--about-us & {
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      max-width: 800px;
      margin: auto auto 90px;
      color: #BDC2C7;
      
      @media (max-width: 1400px) {
        margin: 90px auto auto;
      }
    }
  }

  &__about-text {
    margin-bottom: 50px;

    @media (max-width: 1400px) {
      margin-bottom: 24px;
    }

    p {
      margin: 32px 0;

      @media (max-width: 1400px) {
        margin: 0 0 16px;
      }
    }
  }

  &__about-email {
    text-align: center;
    color: #FFF;
    font-size: 48px;
    text-transform: lowercase;

    @media (max-width: 767px) {
      font-size: inherit;
    }
  }

  &__about-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 22px;
    color: #FFF;

    @media (max-width: 991px) {
      justify-content: center;
    }
    
    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      transition: color $anim;

      &:hover {
        color: #e2ff00;
      }
      
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.4;
        filter: blur(25px);
        z-index: -1;


      }
    }

    a:not(:last-child) {
      margin-right: 62px;

      @media (max-width: 767px) {
        margin-right: 16px;
      }
    }
  }

  &__about-footer-left {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    min-width: 294px;
    min-height: 170px;
    background: url(../img/bg-bottom-left.png) no-repeat 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    left: -60px;
    padding-left: 32px;
    bottom: -22px;
    padding-bottom: 22px;

    @media (max-width: 991px) {
      display: none;
    }

    span {
      display: block;
      font-family: $ff_second;
      color: #FFF;
      font-size: 32px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  &__about-footer-center {
    display: flex;
  }

  &__about-footer-right {
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    padding-right: 32px;
    position: relative;
    right: -60px;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #FFF;

    @media (max-width: 991px) {
      flex-direction: column;
      position: relative;
      z-index: 1;
    }

    .section--head-replacement & {
      flex-direction: row-reverse;

      @media (max-width: 991px) {
        flex-direction: column;
        position: relative;
        z-index: 1;
      }
    }
  }

  &__text {
    width: calc((100% - 16px * 11) / 12 * 5);

    @media (max-width: 1200px) {
      width: calc((100% - 16px * 11) / 2);
    }

    @media (max-width: 991px) {
      width: auto;
      margin-bottom: 24px;
    }
  }
  
  &__video {
    width: calc((100% - 16px * 11) / 12 * 7);
    display: flex;
    justify-content: center;
    max-width: 100%;

    @media (max-width: 991px) {
      width: auto;
    }
  }

  &__video-item {
    position: relative;
    max-width: 100%;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      border: 2px solid #FFF;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.2;
      background: linear-gradient(179deg, #E0EFEF 40.13%, rgba(224, 239, 239, 0.00) 99.03%);

      @media (max-width: 991px) {
        display: none;
      }
    }
    &::before {
      transform: rotate(-9.496deg);
      z-index: 2;
    }
    &::after {
      transform: rotate(-22.287deg);
      z-index: 1;
    }
    iframe {
      position: relative;
      z-index: 3;
      max-width: 100%;
    }
  }
}