mixin section-about(data)
  -
    const {title_ua, title_en, cls} = data;

  // START .section
  +b.SECTION.section(class= cls)
    +e.H2.title
      span(data-lang="ua") #{title_ua}
      span(data-lang="en") #{title_en}
    +e.DIV.content
      p Ми стартап з України, який в першу чергу хоче вивести український контент на міжнародний рівень. Ми займаємось  анімацією обличчя, а саме заміною облич у відео, омолодженням облич у відео, а також lip-sync. 
      p Всі наші технології основані на базі різних штучних інтелектів, які нам допомогають зробити контент без еффекту "Зловісної долини". 
      p По ціновій політиці ми підходимо різним категоріям контентмейкерів,  починаючі від блогерів і закінчуючі кіно. Завдяки тому що ми використовуємо штучні інтелекти в нашій роботі ми можемо зекономити як ваш час так і ваші гроші.


  // END .section