/* .sidebar */
// @media (min-width: $xs) { /* .sidebar $xs */ }
// @media (min-width: $sm) { /* .sidebar $sm */ }
@media (min-width: $md) { /* .sidebar $md */ }
// @media (min-width: $lg) { /* .sidebar $lg */ }
// @media (min-width: $xl) { /* .sidebar $xl */ }
// @media (min-width: $xxl) { /* .sidebar $xxl */ }

.sidebar {
  background-color: $c_brand;
  position: fixed;
  top: 0; 
  left: 0;
  bottom: 0;
  width: 50px;
  padding: 20px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  
  @media (min-width: $md) {
    width: 65px;
  }

  &__logo {
    display: block;
    text-align: center;
    margin-bottom: 13px;
    
    img {
      width: 28px;
    }
  }

  &__lang {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__lang-item {
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    padding: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 50px;
    opacity: .5;
    line-height: 1.6;
    font-weight: 700;
    
    @media (min-width: $md) {
      width: 65px;
    }

    &:hover {
      background-color: #cbe500;
      opacity: 1;
    }
  }

  &__toggle-theme {
    border: none;
    background-color: transparent;
    border-top: 1px solid #cbe500;
    width: 50px;
    padding: 12px 0 4px;
    
    @media (min-width: $md) {
      width: 65px;
    }
    
    img {
      width: 20px;
    }
  }
}