include ../abstracts/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include ../abstracts/mixins

include ../base/head

block includes
  //- include ../../layout/example/example
  
  //- include ../../components/example/example
  

block vars

doctype html
html(lang="ru")

  block head
    head
      +head(dataHead)

  +b.BODY.page

    +e.DIV.loading
      .loadingio-spinner-spinner-rq8zn0lu8
        .ldio-9k6dy2w0f4t
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div

    block content

    //- .backdrop

    block scripts
      //- Including, if we have other JS-labs
      script(src="https://www.youtube.com/iframe_api")
      script(src="./js/libs.min.js")
      script(src="./js/main.js")