mixin social(data)
  // START .social
  +b.UL.social
    //- +e.LI.item
      +e.A.link(href="https://www.facebook.com/Jeynixvfx")
        i.icon-facebook
    +e.LI.item
      +e.A.link(href="https://www.linkedin.com/in/joni-nemir-a50794262/")
        i.icon-linkedin
    +e.LI.item
      +e.A.link--youtube(href="https://www.youtube.com/@jeynixyoutube/videos")
        i.icon-youtube
    +e.LI.item
      +e.A.link(href="https://www.tiktok.com/@jeynixvfx")
        i.icon-tiktok
  // END .social